# Writing into testutil.py

In [1]:
%%writefile testutil.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re


################
# File Reading #
################

def read_config_file(filepath):
    with open(filepath, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)


def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string) 
    return string

def col_header_val(df,table_config):
    '''
    replace whitespaces in the column
    and standardized column names
    '''
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace('[^\w]','_',regex=True)
    df.columns = list(map(lambda x: x.strip('_'), list(df.columns)))
    df.columns = list(map(lambda x: replacer(x,'_'), list(df.columns)))
    expected_col = list(map(lambda x: x.lower(),  table_config['columns']))
    expected_col.sort()
    df.columns =list(map(lambda x: x.lower(), list(df.columns)))
    df = df.reindex(sorted(df.columns), axis=1)
    if len(df.columns) == len(expected_col) and list(expected_col)  == list(df.columns):
        print("column name and column length validation passed")
        return 1
    else:
        print("column name and column length validation failed")
        mismatched_columns_file = list(set(df.columns).difference(expected_col))
        print("Following File columns are not in the YAML file",mismatched_columns_file)
        missing_YAML_file = list(set(expected_col).difference(df.columns))
        print("Following YAML columns are not in the file uploaded",missing_YAML_file)
        logging.info(f'df columns: {df.columns}')
        logging.info(f'expected columns: {expected_col}')
        return 0

Overwriting testutil.py

# Creating the YAML File

In [2]:
%%writefile file.yaml
file_type: csv
dataset_name: testfile
file_name: test_data
table_name: cust_behav
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - event_time
    - event_type
    - product_id
    - category_id
    - category_code
    - brand
    - price
    - user_id
    - user_session

Overwriting file.yaml

In [3]:
# Reading in config file
import testutil as util
config_file = util.read_config_file('file.yaml')

In [4]:
config_file

{'columns': ['event_time',
  'event_type',
  'product_id',
  'category_id',
  'category_code',
  'brand',
  'price',
  'user_id',
  'user_session'],
 'dataset_name': 'testfile',
 'file_name': 'test_data',
 'file_type': 'csv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'table_name': 'cust_behav'}

In [5]:
# Reading in the dataset using pandas
import pandas as pd
df_sample = pd.read_csv('/content/drive/MyDrive/Data Ingestion/test_data.csv')
df_sample.head()

                event_time  ...                          user_session
0  2019-10-01 00:00:00 UTC  ...  72d76fde-8bb3-4e00-8c23-a032dfed738c
1  2019-10-01 00:00:00 UTC  ...  9333dfbd-b87a-4708-9857-6336556b0fcc
2  2019-10-01 00:00:01 UTC  ...  566511c2-e2e3-422b-b695-cf8e6e792ca8
3  2019-10-01 00:00:01 UTC  ...  7c90fc70-0e80-4590-96f3-13c02c18c713
4  2019-10-01 00:00:04 UTC  ...  c6bd7419-2748-4c56-95b4-8cec9ff8b80d

[5 rows x 9 columns]

In [8]:
# read the file using config file
file_type = config_file['file_type']
source_file = "/content/drive/MyDrive/Data Ingestion/" + config_file['file_name'] + f'.{file_type}'
#print("",source_file)
df = pd.read_csv(source_file,config_file['inbound_delimiter'])
df.head()

                event_time  ...                          user_session
0  2019-10-01 00:00:00 UTC  ...  72d76fde-8bb3-4e00-8c23-a032dfed738c
1  2019-10-01 00:00:00 UTC  ...  9333dfbd-b87a-4708-9857-6336556b0fcc
2  2019-10-01 00:00:01 UTC  ...  566511c2-e2e3-422b-b695-cf8e6e792ca8
3  2019-10-01 00:00:01 UTC  ...  7c90fc70-0e80-4590-96f3-13c02c18c713
4  2019-10-01 00:00:04 UTC  ...  c6bd7419-2748-4c56-95b4-8cec9ff8b80d

[5 rows x 9 columns]

In [10]:
if util.col_header_val(df, config_file) == 0:
  print('Validation Failed!')
else:
  print('Validation Successful!')

column name and column length validation passed
Validation Successful!

# Since our validation was successful, let's try to read in another file. The objective is to ensure that we can reject the files we shoudn't include in our pipeline

In [11]:
df_fail = pd.read_csv('/content/drive/MyDrive/Data Ingestion/test_fail_data.csv')
df_fail.head()

   Customer ID Gender  Age  Income (USD/Month)
0        29290   Male   28               10813
1        27703   Male   27                9237
2        28712   Male   53               11242
3        28020   Male   23               23327
4        27182   Male   33                8536

In [12]:
if util.col_header_val(df_fail, config_file) == 0:
  print('Validation Failed!')
else:
  print('Validation Successful!')

column name and column length validation failed
Following File columns are not in the YAML file ['age', 'income_usd_month', 'gender', 'customer_id']
Following YAML columns are not in the file uploaded ['price', 'brand', 'category_code', 'category_id', 'event_time', 'product_id', 'user_session', 'user_id', 'event_type']
Validation Failed!